/*body > *{
     border: 1pt dashed grey;
 }*/
* {
    font-family: Georgia;
}

.siteSection{
    margin:auto;
    max-width: 960px;
    min-width: 230px;
    /*border: 1pt dashed grey;*/
}

.contentSection{
    margin-top: 60px;
}
.elementComplex{
    /*border: 1pt dashed red;*/
    margin-top: 40px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
hr {
    max-width: 100%;
    width:100%;
    color:grey;

}
h3{
    color:#333333;
}
.contentElement{
    /*border: 1pt dashed blue;*/
    max-width:225px;
    min-width:225px;

    background:#eeeeee;
}
.contentElement > * {
	max-width:225px;
    min-width:225px;
}
#project .contentElement{
    max-height:305px;
    min-height:305px;
}
#blog .contentElement{
    max-height:275px;
    min-height:275px;
}
#about .contentElement{
    max-height:275px;
    min-height:275px;
}
 .contentElementImg img{

    display: block;

    margin:auto;
    /*border: 1pt solid red;*/

    max-width: 100%;
    max-height: 100%;
}
#project .contentElementImg{

    position: relative;
    max-width:225px;
    min-width:225px;
    max-height:225px;
    min-height:225px;
}

#blog .contentElementImg{
    position: relative;
    max-width:225px;
    min-width:225px;
    max-height:125px;
    min-height:125px;
}

.contentElement:first-child{
    margin-left: 0px;
}
.contentElement:last-child{
    margin-right: 0px;
}
#project .contentElement > *{
    display:flex;
    justify-content: center;
    align-items: center;
}
.extremeText{
    /*border: 1pt dashed green;*/
    max-width:100%;
    max-height:40px;
    min-height:40px;
    text-align: center;

}
#blog{
    max-width: 715px;
}
#about{
    max-width: 255px;
}
#blog .contentElement > *{
	border: 1px solid red;
}
.blogHeaderText{
	margin-top:15px;
	min-height:20px;
	max-height:20px;
}
.blogDataText{
	min-height:15px;
	max-height:15px;
}
.blogMainTest{
	margin-top:10px;
	min-height:90px;
	max-height:90px;
}	

